<!DOCTYPE html>
<html>
    <head>
        <title>
            Leilão dos guri
        </title>

        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    </head>
    
    <body>
        
        <div class="text-center">
            <div class="jumbotron">

                <h1>
                    Leilão dos guri
                </h1>

                <a href="/submit">
                    <input class="btn btn-primary" type="button" value="Criar">
                </a>

                <a href="/auctions">
                    <input class="btn btn-primary" type="button" value="Apostar">
                </a>

            </div>
        </div>
        
    </body>
</html>