<!DOCTYPE html>
<html>
    <head>
        <title>
            Leilão dos guri
        </title>

        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    </head>

    <body>
        <div class="text-center">
            <div class="jumbotron">
                <h1>{{message}}</h1>
                <p class="lead">{{submessage}}</p>

                <a href="/">
                    <input class="btn btn-primary" type="button" value="Voltar">
                </a>

            </div>
        </div>
    </body>
</html>